<h1>{{blocChatRooms.activeRoomId}}</h1>
<!--<h3>{{nextMessage}}</h3>-->
<table ng-repeat="msg in (message.messageInfo(blocChatRooms.activeRoomKey(blocChatRooms.activeRoomId)) | orderBy:'sentAt')">
    <tr class="{{['even', 'odd'][$index%2]}}">
        <td class="message-messages">
                <p><b>{{msg.username}}:</b></p>
                <p>{{msg.content}}</p>
        </td>
        <td class="message-timestamp">
            <p><i>{{msg.sentAt}}</i></p>
        </td>
    </tr>
</table>
<footer class="message-footer">
    <div id="theMessage">
        <input type="text" class="form-control" ng-model="nextMessage">
    </div>
    <div class="message-button">
        <button class="btn btn-default" ng-click="message.registerMessage(nextMessage, blocChatRooms.activeRoomKey(blocChatRooms.activeRoomId)); nextMessage=''">Send</button>
    </div>
</footer>